/*note about media queries, sometimes with the developer console open it does not render, the window has to be resized with the developer console closed*/


@mixin tabletBreakpoint() {
    @media screen and (min-width: 768px) and (max-width: 900px) {
        @content;
    }
  }

@mixin mobileBreakpoint() {
    @media screen and (min-width: 200px) and (max-width: 767px) {
        @content;
    }
}

@mixin testColor() {
    background-color: gray;
}

body {
    background-color: gray;
    /* background-image: URL('./assets/Style_Shades.png'); */
    background-image: URL('https://images.unsplash.com/photo-1666321574598-fff1c1bbd832?q=80&w=3348&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    .headingOne {
        font-size: 38px;
        text-align: center;
        color: white;
        @include tabletBreakpoint() {
            font-size: 22px;
        }
        @include mobileBreakpoint() {
            font-size: 22px;
        }
    }

    .boxPitch  {
        p {
            color: white;
            font-size: 28px;
            font-family: 'Courier New', monospace;
            font-weight: 800;
            margin-left: 15%;
            margin-right: 15%;
            @include tabletBreakpoint() {
                font-size: 16px;
            }
            @include mobileBreakpoint() {
                font-size: 16px;
            }
        }
        a {
            font-size: 48px;
            &:hover {
                border-bottom: 8px dashed yellow;
            }
            border: 8px solid yellow;
            @include tabletBreakpoint() {
                border: 8px solid orange;
            }
            @include mobileBreakpoint() {
                border: 6px solid maroon;
            }
          }
      }
  }



  // page2 Section
  .page2Heading {
    font-size: 28px;
    font-weight: bold;
    color: blue;
    a {
        font-size: 48px;
        &:hover {
            border-bottom: 8px dashed yellow;
        }
        @include tabletBreakpoint() {
            border: 8px solid orange;
        }
        @include mobileBreakpoint() {
            border: 6px solid maroon;
        }
      }
  }

  .page2Parapagraph {
    h2 {
        color: white;
    }
    p {
        color: white;
    }
  }