body {
    background-image: URL('./assets/Style_Shades.png');
}

.headingOne {
    color: navy;

}

.boxPitch p {
    color: white;
    font-size: 22px;
    font-family: 'Courier New', monospace;
}

a {
    font-size: 28px;
}

a:hover {
    border-bottom: 8px solid yellow;
}