body {
    background-color: gray;
}

.headingOne {
    color: navy;

}

.boxPitch p {
    color: maroon;
    text-decoration: underline;
    color: black;
    font-family: 'Courier New', monospace;
}

a {
    font-size: 28px;
}

a:hover {
    border-bottom: 8px solid yellow;
}