body {
    background-color: gray;
}

.headingOne {
    font-size: 38px;
    text-align: center;
    color: blue;

}

.boxPitch p {
    background-image: URL('./assets/Style_Shades.png');
    color: white;
    font-size: 28px;
    font-family: 'Courier New', monospace;
    font-weight: 800px;
}

a {
    font-size: 48px;
}

a:hover {
    border-bottom: 8px solid yellow;
}